<div class="contact_us">
    <div class="container">
        <h3>Appointment From</h3>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <form class="form-horizontal" id="emailForm" action="/thankyou" method="POST" enctype="multipart/form-data">
                    <div class="col-md-6">
                        <div class="form-group">                        
                            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Your Full Name">                        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">                        
                            <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Phone Number">                        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">                        
                            <input type="email" class="form-control" id="emailadd" name="emailadd" placeholder="Your Email">                        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">                        
                            <select class="form-control" id="services" name="services" placeholder="Select Services">  
                                <option value="">Select Product</option>  
                                <option value="1">Tea</option>
                                <option value="2">Rice</option>
                                <option value="3">Indian Spices</option>
                                <option value="4">Olive Oil</option>   
                                <option value="5">Honey</option>
                                <option value="6">Yellow Peas</option>
                                <option value="7">Yellow Maize</option>
                            </select>                 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea rows="4" maxlength="250" class="form-control" id="enquiry" name="enquiry" placeholder="Enquiry"></textarea>
                        </div>
                    </div>    
                    <div class="col-md-12">
                        <button type="button" id="send" class="btn btn-default contact_btn" style="margin-top:0;">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="green_contact">
                    <h4>Touch With Us</h4>
                    <div class="row bdrbtm">
                        <div class="col-md-6">Monday - Friday</div>
                        <div class="col-md-6">9:00  17:00</div>
                    </div>
                    <div class="row bdrbtm">
                        <div class="col-md-6">Phone Number</div>
                        <div class="col-md-6">+91-120-4540089</div>
                    </div>
                    <div class="row bdrbtm">
                        <div class="col-md-6">Email</div>
                        <div class="col-md-6">
                            <a href="mailto:office@indiagro.store">
                                Office@indiagro.store
                            </a>
                        </div>
                    </div>
                    <ul class="cont_social header-social-icon">
                        <li> 
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li> 
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li> 
                            <a href="#">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li> 
                            <a href="#">
                                <i class="fa fa-skype" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>