<footer id="footer">
    <div class="container">
        <div class="row fooTop">
            <div class="col-xs-12 col-md-3">
                <a href="/" class="fooLogo"><img src="/images/foo-logo.png" alt="fooLogo"/></a>
                <p>
                    Indiagro Pvt Ltd is a year old company, operating as a one-stop solution for all your needs in shipping, transportation, supply chain management and customs brokerage.
                </p>
            </div>
            <div class="col-xs-12 col-md-3">
                <h5 class="fooHeading">Useful Links</h5>
                <ul class="fooLinks">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/organic">Organic Farming</a>
                    </li>
                    <li>
                        <a href="/conventional">Conventional Farming</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3">
                <h5 class="fooHeading">Contact Details</h5>
                <address class="contactAdd">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 3FCS-38, corporate suits, Ansal Plaza, Vaishali, Ghaziabad, Uttar Pradesh, India
                    <a href="tel:01204540089">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        +91-120-4540089
                    </a>
                    <a href="#">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        Mon - Fri : 9:00 AM to 18:00 PM
                    </a>
                </address>
            </div>
            <div class="col-xs-12 col-md-3">
                <h5 class="fooHeading">Certified By</h5>
                <div class="fooMap">
                    <ul>
                        <li>
                            <a href="http://www.teaboard.gov.in/">
                                <img src="/images/th.png" style="width:100px;"/>
                            </a>
                            <a href="http://apeda.gov.in/apedawebsite/">
                                <img src="/images/apeda.jpg" style="width:145px;"/>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.fssai.gov.in/home">
                                <img src="/images/fssai-logo.jpg" style="width:250px;"/>
                            </a>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="fooBottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    All Rights Reserved. INDIAGRO Pvt Ltd.
                </div>
                <div class="col-xs-12 col-md-8">
                    <ul class="foobtmnav">
                        <li>
                            <a href="javascript:void(0);">Tearms &amp; Condition</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Sitemap</a>
                        </li>
                        <li>
                            <a href="https://www.exportersindia.com/">
                                <img src="/images/exportersindia-logo.png" style="width: 150px;"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tradeindia.com/">
                                <img src="/images/tradeindiamember.gif" style="width: 90px;"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Registration Password No Pop Up Start -->
<div id="registration_pass" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding:0;">
                <div class="popup_form_model" id="student_login_form">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="form_heading">ADMIN LOGIN</h2>
                    <form id="stud_login" action="/index" method="POST">
                        <div class="form-group">
                            <label for="username">USERNAME:</label>
                            <input type="text" class="form-control username" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        
                        <div class="btn-footer">
                            <button type="submit" class="btn btn-primary stud_login_btn">Submit</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                        </div>
                        <!-- <div class="forget">
                            <a href="#" class="forget_pass">Forget Password?</a>
                        </div> -->
                    </form>
                    <!--
                    <form id="entr_regid" style="display:none;">
                        <div class="form-group">
                            <label for="entr_reg_id">Registration ID:</label>
                            <input type="text" class="form-control entr_reg_id" id="entr_reg_id" name="entr_reg_id">
                        </div>
                        <div class="btn-footer">
                            <button type="button" class="btn btn-primary entr_regid_btn">Submit</button>
                            <button type="button" class="btn btn-primary back-btn">Back</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                        </div>
                    </form>
            
                    <form id="entr_otp" style="display:none;">
                        <div class="form-group">
                            <label for="entr_reg_id_otp">Registration ID:</label>
                            <input type="text" class="form-control entr_reg_id_otp" id="entr_reg_id_otp" name="entr_reg_id_otp">
                        </div>
                        <div class="form-group">
                            <label for="entr_otp">OTP:</label>
                            <input type="text" class="form-control entr_otp" id="entr_otp" name="entr_otp">
                        </div>
                        <div class="btn-footer">
                            <button type="button" class="btn btn-primary entr_otp_btn">Submit</button>
                            <button type="button" class="btn btn-primary back-btn">Back</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                        </div>
                    </form>
            
                    <form id="cnfrm_password" style="display:none;">
                        <div class="form-group">
                            <label for="new_pass">New Password</label>
                            <input type="text" class="form-control new_pass" id="new_pass" name="new_pass">
                        </div>
                        <div class="form-group">
                            <label for="cnfrm_pass">Confirm Password</label>
                            <input type="text" class="form-control cnfrm_pass" id="cnfrm_pass" name="cnfrm_pass">
                        </div>
                        <div class="btn-footer">
                            <button type="button" class="btn btn-primary cnfrm_password_btn">Submit</button>
                            <button type="button" class="btn btn-primary back-btn">Back</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                        </div>
                    </form>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration Password No Pop Up End -->
<!-- <a href="#" id="toTop" style="display: none;">
    <span id="toTopHover" style="opacity: 0;"></span>To Top
</a> -->