<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Indiagro: we make easy</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen" />
		
		<link rel="stylesheet" type="text/css" href="/css/lightbox.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/flexslider.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/css/responsive.css" media="screen" />

		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="/css/ie8.css" media="screen">
		<![endif]-->
		<!--[if lt IE 8]>
		<link rel="stylesheet" type="text/css" href="/css/ie7.css" media="screen">
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="/js/html5shiv.min.js"></script>
		<![endif]-->
		<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
		<!--Start of Tawk.to Script-->
		<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/5a3cae80f4461b0b4ef8a26f/default';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
		</script>
		<!--End of Tawk.to Script-->
		
		
		
		
		<script type="text/javascript" src="/js/lightbox-plus-jquery.min.js"></script>
		<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/jarallax.js"></script>
		<script type="text/javascript" src="/js/SmoothScroll.min.js"></script>
		<script src="https://use.fontawesome.com/b1b9c868f4.js"></script>
		<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
		
		<script type="text/javascript" src="/js/move-top.js"></script>
		<script type="text/javascript" src="/js/easing.js"></script>
		
		<script type="text/javascript" src="/js/site.js"></script>
		<script>
			$(document).ready(function(){
				
			});
		</script>
	</head>