<!-- team -->
<div class="team">
		<div class="container">
			<div class="services-heading">
				<h3>Our Team</h3>
				<div class="agileits-line"> </div>
			</div>
			<div class="team-row">
					<div class="col-md-3 team-grids">
						<div class="team-img">
							<img class="img-responsive" src="images/t1.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Edwards Doe</h4>
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="wthree-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>					
					<div class="col-md-3 team-grids">
						<div class="team-img">
							<img class="img-responsive" src="images/t2.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Mark Sophia</h4>
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="wthree-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 team-grids">
						<div class="team-img">
							<img class="img-responsive" src="images/t3.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Michael amet</h4>
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="wthree-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 team-grids">
						<div class="team-img">
							<img class="img-responsive" src="images/t4.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Daniel Nyari</h4>
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="wthree-social-grids">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team -->