<!-- team -->
<div class="testimonials_sec">
		<div class="container">
			<div class="services-heading testihad">
				<h3>Testimonials</h3>
				<div class="agileits-line"> </div>
			</div>
			<div class="slider_corusal">
				<div class="owl-carousel">
					<div class="item">
						<p>
							I am so impressed by the CTC Black tea. I knew it would be better than any other Assam tea I had tasted up to now, but I purchased it primarily for some of my customers. I, myself, have always preferred the Kenyan varieties have been my morning breakfast tea of choice--that is, until now! I never imagined that I would switch, but I have, and I don't see me changing any time soon
						</p>	
						<span class="circle">
							<img src="/images/default.png"/>
						</span>
						<strong>
							Steve
						</strong>
						<span>Australia</span>
					</div>
					<div class="item">
						<p>
							Thank you for the prompt service. I received the 1121 White Sella Basmati Rice. Looks great and tastes great! I read more about your basmati Rice and sustainable farming practices and you seem like a company with strong values and integrity. I'm starting a small Rice company and if all goes well I will order in larger quantities in the future. I look forward to working with you.
						</p>
						<span class="circle">
							<img src="/images/default.png"/>
						</span>
						<strong>
							Robert
						</strong>
						<span>Kenya</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->