<!DOCTYPE html>
<html lang="en">
	<% include partials/head %>
	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">
			<% include partials/header %>
			<!-- banner -->
			<div class="banner">
				
			</div>
			<!--Content Area Start-->
			<div id="content">
				<section class="about_us">
					<div class="container">
						<h3>WHO WE ARE</h3>
						<div class="row">
							<div class="col-md-12 about-wpr">
								<span class="img-wpr"><img src="/images/about.jpg"/></span>
								<p>
									The Indian market provides a wide variety of agricultural products
									but only professionals can ensure the supply of high-quality products
									Find a reliable supplier of agricultural products in India is very difficult. 
									We are well aware of the problems with the quality and compliance with the delivery
									times, that sometimes dishonest suppliers allow themselves to mix different varieties 
									of rice or tea in order to reduce the cost. There are a lot of such examples on the 
									market.And, of course, in this situation, buyers of agricultural products need to carefully 
									select suppliers of products.<br/>
									Being part of <b>GLOBO GROUP</b> company <b>INDIAGRO</b> is one of the leading suppliers of agricultural 
									products to the domestic market of India, to the countries of Southeast Asia, Africa and Europe.<br/>
									Great work experience, excellent market knowledge, professional team and reliable partners all 
									over the world allow us to supply high quality products on favorable terms.<br/>
									Catering to increasing demand of high standard food products to all around the world, <b>INDIAGRO</b> 
									started spreading its wings to explore world markets, where <b>INDIAGRO</b> received immense appreciation 
									for quality.<br/>																										
								</p>
								<strong>We Offer The Best</strong>
								<p>
									The experience of <b>INDIAGRO</b> combined with a support of eminent vendors 
									empowers us to fulfill varied requirements of clients. We believe that every 
									client and its requirements are unique. We create programs and solutions to 
									provide flexible and customized shipping solutions.
								</p>								
								<p>
									Our state-of-the-art Stroge units have enough capacity to meet the urgent
									and bulk requirements of our numerous clients. For that reason, we export superior quality 
									Agro Product's across the world and our main exports market are in Arab Countries and Europe. 
									Also we pack our range of Agro Product's in all forms of packaging material that ensure to optimum 
									quality of it for a long time, and safely delivery as well. 
									<br/>
									Points that have contributed for achieving success in this realm include:
								</p>						
								
								<table class="table table-striped pull-left" style="width: 35.2%; margin-right:30px;">
									<tr>
										<td>Name Of Director's</td>
										<td>Mr. Ravil Minigulov</td>
									</tr>
									<tr>
										<td>Year of Establishment</td>
										<td>2018</td>
									</tr>
									<tr>
										<td>Nature of Business</td>
										<td>Supplier &amp; Service Provider</td>
									</tr>
									<tr>
										<td>Number of Employees</td>
										<td>20</td>
									</tr>
								</table>
								<div class="pull-left">
										<strong>Why INDIAGRO?</strong>
										<p>Points that have contributed for achieving success in this realm include:</p>
										<ul>
											<li>Timeliness</li>
											<li>Domain knowledge</li>
											<li>Equitable prices</li>
											<li>Wide market reach</li>
											<li>Safe distribution</li>
										</ul>
								</div>
								<div class="clearfix"></div>
								<p>With a vision to create a strong presence of innovative consumer products in the Indian market, we at INDIAGRO have dedicated ourselves to deliver the deserving taste of original:</p>
								<ul>
									<li>INDIAN SPICES</li>
									<li>INDIAN TEA</li>
									<li>INDIAN RICE</li>
									<li>RUSSIAN HONEY</li>
									<li>GREEK AND SPANISH OLIVE OIL</li>
								</ul>
								<p>With core focus on every aspect of the product, beginning from sourcing the raw foods, to its processing and packaging.</p>
								<strong>Client Reach</strong>
								<p>Due to the high international standards, implemented in the company, as well as by professional team, the company provides high-quality agricultural products of our customers in India and around the world.</p>
								<strong>Quality Products</strong>
								<p>
									We work with core focus on every aspect of the product, beginning from sourcing the raw foods, to its processing and packaging. 
									Our products are excellent in term of "value for your money" and we thus Endeavour to fulfill this objective as our primary goal.
									We feel an opportunity given by you is all that it takes in establishing a fruitful partnership between us and thus achieve your loyalty in a mutually beneficial relationship. The customer's satisfaction to this regard is the main mantra to our success.										
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
			<!--Content Area End-->

			<!--Footer Section Start-->
			<% include partials/footer %>			
			<!--Footer Section End-->
		</div>
		<!--Page Wrapper End-->

		
	</body>
</html>