<!DOCTYPE html>
<html lang="en">
	<% include partials/head %>
	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">
			<% include partials/header %>
			<!-- banner -->
			<div class="banner">
				
			</div>
			<!--Content Area Start-->
			<div id="content">
				<section class="Conventional_sec">
					<div class="container">
						<h3>Conventional Farming</h3>
						<div class="row">
							<div class="col-md-12" style="padding:0 30px">
								<p>
									Conventional Farming in India is still at a developing stage with only 528,171 hectare area
									covered under Conventional cultivation. The sectors opening up with more organisations and 
									NGO’s catering to farm level activities to consolidate farmers into Conventional farming and 
									selling the products through their stores and network, further carrying huge export 
									potential. Rising awareness of healthy food apart from increased disposable income has 
									ensured nearly 62% of households in the upper end segments preferring to have Conventional 
									products. 
								</p>
								<p>
									The value chain remains fragmented and dispersed with no vision towards integration and
									inclusiveness of farmers and farmer’s allied produce into the value chain. Onus is on 
									export and retail penetration with sparse  recognition to farmer and his contribution, 
									thus deals based on certificate with minimum traceability and accountability. Lack of 
									proper customer education on Conventional products, thus most preference still on fruits and 
									vegetables with promising growth in other segments. Need for an organization that would 
									ensure inclusive growth of the farmer and take his product on an international arena.
								</p>
								<p>
									In India, certified Conventional farming accounts to only 1% of the overall agriculture 
									production . However Conventional farming is still small worldwide and it accounts for less 
									than 2% of the global retail production. India though being 13th in Conventional land under 
									cultivation has most number of producers in Conventional farming 400’551 followed by Uganda 
									188’625, and Mexico 128’862. It is estimated that 65 per cent of the country’s cropped 
									area is Conventional by default, as small farmers (less than 3 acres holding) have no choice 
									but to farm without chemical fertilisers and pesticides which they cannot afford.
									Usage of fertilizers and pesticides have depleted the soil, and inefficient irrigation 
									have caused water tables to plunge in many parts of India.
								</p>
								<p>
									Biodiversity and ecological intensification are the basic premise why more farmers are 
									being fascinated to Conventional farming as this reason has seen a CAGR 20% increase in 
									Conventional cultivation YoY. Apart from Rajasthan other states doing well in Conventional farming 
									are Madhya Pradesh (4.40 lakh hectare), Maharashtra (1.50 lakh hectare) and Orissa 
									(95,000 hectare).
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-4 col-xs-12 pro_box">
									<h5 class="pro_heading">Conventional FARMING</h5>
									<div class="img-pro">
										<img src="/images/pro1.jpg"/>
									</div>
									<p>
										Conventional Farming in India is still at a developing stage with only 528,171 hectare 
										area covered under Conventional cultivation. The sectors opening up with more organisations 
										and NGO’s catering to farm level activities to consolidate farmers into Conventional farming 
										and selling the products through their stores and network, further carrying huge export 
										potential. Rising awareness of healthy food apart from increased disposable income has 
										ensured nearly 62% of households in the upper end segments preferring to have Conventional products.
									</p>
								</div>
								<div class="col-md-4 col-xs-12 pro_box">
									<h5 class="pro_heading">PRODUCTS</h5>
									<div class="img-pro">
										<img src="/images/pro2.jpg"/>
									</div>
									<p>
										The word cereal derives from Ceres, the name of the Roman goddess of harvest and 
										agriculture. Cereal is a grass cultivated for the edible components of their 
										composed of the endosperm, germ, and bran. Cereal grains are grown in greater 
										quantities and provide more food energy worldwide than any other type of crop 
										they are therefore staple crops. In their natural form (as in whole grain), they 
										are a rich source of vitamins, minerals, carbohydrates, fats, oils, and protein.
									</p>
								</div>
								<div class="col-md-4 col-xs-12 pro_box">
									<h5 class="pro_heading">WHY Conventional</h5>
									<div class="img-pro">
										<img src="/images/pro3.jpg"/>
									</div>
									<p>
										Conventional farming is a production system that avoids or largely excludes the use of 
										synthetically produced agricultural inputs like fertilizers, pesticides, growth 
										regulators, live stock feed additives etc.<br/>
										Toxic chemicals, fertilizers, pesticides and other artificial treatment used in 
										the cultivation of modern crops have been proven to be harmful for the human body 
										in the long term.Conventional foods are grown without the use of such harmful chemicals 
										and are safer for consumption.
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>				
			</div>
			<!--Content Area End-->

			<!--Footer Section Start-->
			<% include partials/footer %>			
			<!--Footer Section End-->
		</div>
		<!--Page Wrapper End-->

		
	</body>
</html>