<!DOCTYPE html>
<html lang="en">
	<% include partials/head %>
	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">
			<% include partials/header %>
			<div class="banner honey-banner">
				<div class="container">
					<h2>Honey</h2>
					<div class="agileits-line"> </div>
				</div>
			</div>
			<div class="bnr-honey"></div>
			<!--Content Area Start-->
			<div id="honeycontent">
				<div class="container">
					<p>
						Honey has been called “the gift of the gods”, and for good reason.  This golden, thick sweet liquid predates sugar by thousands of years and has been highly esteemed for its taste, its medicinal qualities and its ability to make us beautiful – both inside and out.
					</p>
					<p>
						Many civilizations have used honey for centuries – the Indus Valley, the Egyptians, Greeks, and Chinese.
					</p>
					<p>	
						An ancient Indian Guru, who is reported to have lived over  110 years of age, shared his secret to longevity and health – a massage of olive oil daily and eating honey regularly.
					</p>
					<p>		
						In the 20th century, antibiotics were discovered and honey fell from grace.  Now, because so many infections are now antibiotic resistant, honey is once again brought to the light as a safe way to heal many conditions.
						
					</p>

					<h3>Medicinal Benefits of Honey</h3>
					<p>Here Is A Small List Of Conditions That Respond To Honey:</p>

					<table class="table table-bordered orangetbl">
						<tbody>
						  	<tr>
								<td>Gum Disease</td>
								<td>Sores, Wounds, And Burns</td>
								<td>Digestive And Stomach Issues Including H. Pylori</td>
								<td>Soothes Throat And Respiratory Ailments Such As Coughs And Colds</td>
						  	</tr>
						  	<tr>
								<td>Insomnia </td>
								<td>Weight Loss </td>
								<td>Anemia</td>
								<td>Heartburn </td>
							</tr>
							<tr>
								<td>Infections </td>
								<td>Immune Support </td>
								<td>Enhances Athletic Performance </td>
								<td>Energy Booster </td>
						  	</tr>
						</tbody>
					</table>

					<h3>Honey Facts &amp; Tips</h3>
					<p>Let’s have some fun.  Here are some honey facts that I’m sure you’ll enjoy.</p>
					<ol class="honey-facts">
						<li>
							<p>
								<b>Honey does not spoil and does not need refrigeration as long as it is in a sealed container.</b>
								That’s right.  You could leave honey unrefrigerated in a cupboard for hundreds of years, and you could come back and it would be okay to use.
							</p>
						</li>
						<li>
							<p>
								<b>Honey has a lower glycemic index than sugar.</b>
								Hurray!!  This means it doesn’t raise blood sugar levels as quickly, and so helps to fight diabetes and weight gain.
							</p>
						</li>
						<li>
							<p>
								<b>It takes about 2 million flowers for bees to make one pound of honey.</b>
							</p>
						</li>
						<li>
							<p>
								<b>A bee will produce only about one twelve of a  teaspoon of honey in her lifetime.</b>
								Unbelievable!  So, don’t waste any honey.  Every drop is precious.
							</p>
						</li>
						<li>
							<p>
								<b>Honey bees have two stomachs.</b>
							</p>
						</li>
						<li>
							<p>
								<b>Honey was so valuable it was used as currency in medieval times.</b>
							</p>
						</li>
						<li>
							<p>
								<b>Honey produces hydrogen peroxide when it comes in contact with skin. </b>
								This is one reason why it is excellent for skin problems and bacteria.
							</p>
						</li>
						<li>
							<p>
								<b>Honey kills bateria and fungi by drawing water from their cells, thereby causing dehydration.</b>
								Another amazing characteristic that bolters honey’s healing properties.
							</p>
						</li>
					</ol>

					<h3>Our Products:</h3>

					<table class="table table-bordered orangetbl producttbl">
						<tbody>
						  	<tr>
								<td>Natural Honey Acacia</td>
								<td>Natural Honey Accutive (white)</td>
								<td>Natural Honey Hawthorn </td>
						  	</tr>
						  	<tr>							
								<td>Natural Honey Buckwheat (crystal) </td>
								<td>Natural Honey Buckwheat (liquid) </td>
								<td>Natural Honey Buckwheat (cream) </td>
							</tr>
							<tr>
								
							</tr>
							<tr>
								<td>Natural Honey Esparcet (Kirghiz: cream, white)</td>
								<td>Natural Honey with flower  </td>
								<td>Natural Honey The Donicovian </td>
							</tr>
							<tr>
								<td>Natural Honey Donnikovy with mixed herbs </td>
								<td>Natural Honey Diaghilev</td>
								<td>Natural Honey Chestnut (Krasnodar Territory)</td>
							</tr>
							
							<tr>
								<td>Natural Honey Chestnut (Abkhazia)</td>
								<td>Natural Honey Kipreyny  </td>
								<td>Natural Honey Clover </td>
							</tr>
							<tr>								
								<td>Natural Honey Coriander </td>
								<td>Natural Honey Forest (dark) </td>
								<td>Natural Honey Lime Bashkir </td>
							</tr>
							
							<tr>
								<td>Natural Honey Lime (Primorsky Territory)</td>
								<td>Natural Honey Linden   </td>
								<td>Natural Honey Lugovoy  </td>
							</tr>
							<tr>								
								<td>Natural Honey May</td>
								<td>Natural Honey The Ordinary  </td>
								<td>Natural Honey Cotton (white) </td>
								
						    </tr>							
							<tr>
								<td>Natural Honey Sunflower (crystal)  </td>
								<td>Natural Honey Sunflower (liquid)  </td>
								<td>Natural Honey Sunflower (cream)</td>
							</tr>
							<tr>
								<td>Natural Honey Raznotsravie (crystal)</td>				
								<td>Natural Honey Raznotsravie (liquid)</td>									
								<td>Natural Honey Raznotsravie (cream)</td>															
							</tr>							
							<tr>
								<td>Natural Honey Flower (crystal)</td>
								<td>Natural Honey Flower (liquid)</td>
								<td>Natural Honey Flower (cream)</td>
							</tr>
							<tr>
								<td>Natural Honey Mountain </td>
								<td></td>
								<td></td>
						  	</tr>
						</tbody>
					</table>



				</div>
			</div>
			<!--Content Area End-->

			<!--Footer Section Start-->
			<% include partials/footer %>			
			<!--Footer Section End-->
			<script src="/js/lightbox-plus-jquery.min.js"> </script>
		</div>
		<!--Page Wrapper End-->

		
	</body>
</html>