<!DOCTYPE html>
<html lang="en">
	<% include partials/head %>
	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">
			
			<!-- banner -->
			<div class="banner">
				
			</div>
			<!--Content Area Start-->
			<div id="content">				
				<div class="container">
					<h2 class="form_heading">ADMIN LOGIN</h2>
                    <form id="stud_login" action="/index" method="POST">
                        <div class="form-group">
                            <label for="username">USERNAME:</label>
                            <input type="text" class="form-control username" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        
                        <div class="btn-footer">
                            <button type="submit" class="btn btn-primary stud_login_btn">Submit</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                        </div>
                        <!-- <div class="forget">
                            <a href="#" class="forget_pass">Forget Password?</a>
                        </div> -->
                    </form>
				</div>
			</div>
			<!--Content Area End-->

			<!--Footer Section Start-->
					
			<!--Footer Section End-->
		</div>
		<!--Page Wrapper End-->

		
	</body>
</html>