<!DOCTYPE html>
<html lang="en">
	<% include partials/head %>
	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">
			<% include partials/header %>
			<div class="banner about-banner">
				<div class="container">
					<h2>Olive Oil</h2>
					<div class="agileits-line"> </div>
				</div>
			</div>
			<!--Content Area Start-->
			<div id="content">
				<!-- gallery -->
				<div class="row olive_oil">
						<div class="col-xs-12 col-md-3 evirgin">
							<a href="#" class="">
                                <span class="ca-icon ev-indiagro"><img src="/images/foo-logo.png" alt=""/></span>
                                <div class="ca-content">
                                    <h2 class="ca-main">Extra Virgin <br/>Olive Oil</h2>
                                    <p class="ca-sub">For Western Cuisine &amp; Toppings</p>
                                </div>
                            </a>
						</div>
						<div class="col-xs-12 col-md-3 evirgin virgin">
							<a href="#" class="">
                                <span class="ca-icon ev-indiagro"><img src="/images/foo-logo.png" alt=""/></span>
                                <div class="ca-content">
                                    <h2 class="ca-main">Virgin<br/> Olive Oil</h2>
                                    <p class="ca-sub">For Indo-Western Cuisine &amp; Cooking</p>
                                </div>
                            </a>
						</div>
						<div class="col-xs-12 col-md-3 evirgin pomli">
							<a href="#" class="">
                                <span class="ca-icon ev-indiagro"><img src="/images/logo.png" alt=""/></span>
                                <div class="ca-content">
                                    <h2 class="ca-main text">Pomace<br/> Olive Oil</h2>
                                    <p class="ca-sub text">Best for Indian Cooking &amp; Frying</p>
                                </div>
                            </a>
						</div>
						<div class="col-xs-12 col-md-3 evirgin pure">
							<a href="#" class="">
                                <span class="ca-icon ev-indiagro"><img src="/images/logo.png" alt=""/></span>
                                <div class="ca-content">
                                    <h2 class="ca-main text">Pure <br/>Olive Oil</h2>
                                    <p class="ca-sub text">Best for infant's massage</p>
                                </div>
                            </a>
						</div>
					</div>
					<!-- //gallery -->
				<div class="container olive-container">
					<div class="row">
						<div class="col-xs-12 col-md-8">
							<div class="col-xs-12 col-md-12 olive_cont">
								<h2>WELCOME TO INDIAGRO</h2>
								<p>
									Olive Oil is one of the most beneficial natural products and is known to 
									have very hign nutritive value since its discovery about 5,000 years ago. 
									Olive oil is extracted from the crop of the Olive tree which is the 
									mediterranean basin. Oilve oil is closer in chemical structure to the skin's 
									natural oil than any other naturally occurring oil.
								</p>
							</div>
							
							<div class="col-xs-12 col-md-12 product">
								<h2>Extra Virgin Olive Oil</h2>
								<p>
									Extra Virgin Olive Oil is the highest-grade olive oil with excellent aroma and 
									flavour. Extra virgin oil results from the first cold pressing of the olive fruit
									 within 24 hours of harvesting. It is comparatively heavy and viscous and thus 
									 ideal for dressing, flavourings and condiments. Its main culinary application is 
									 for cold dishes: to dress salads, pasta, rice, vegetables, meat and fish. Also use 
									 it as a healthy butter substitute on your toast or roti!
									<br/>	<br/>
									Late studies show that the EV oil is a better element for the prevention of heart 
									disease. The olive oil also is used in a very natural way and not as a pharmaceutical 
									product. Since the 80s, studies about the poly-unsaturated omega 3 and omega 6 fatty 
									acids, coming from fish oils in reference with the heart disease and mainly 
									arteriosclerosis.
								</p>
							</div>

							<div class="col-xs-12 col-md-12 product">
								<h2>Virgin Olive Oil</h2>
								<p>
									Virgin Olive Oil is the highest-grade olive oil with excellent aroma and 
									flavour. virgin oil results from the first cold pressing of the olive fruit
									within 24 hours of harvesting. It is comparatively heavy and viscous and thus 
									ideal for dressing, flavourings and condiments. Its main culinary application is 
									for cold dishes: to dress salads, pasta, rice, vegetables, meat and fish. Also use 
									it as a healthy butter substitute on your toast or roti!
									<br/>	<br/>
									Late studies show that the EV oil is a better element for the prevention of heart 
									disease. The olive oil also is used in a very natural way and not as a pharmaceutical 
									product. Since the 80s, studies about the poly-unsaturated omega 3 and omega 6 fatty 
									acids, coming from fish oils in reference with the heart disease and mainly 
									arteriosclerosis.
								</p>
							</div>

							<div class="col-xs-12 col-md-12 product">
								<h2>Pomace Olive Oil</h2>
								<p>
									Pomace Olive Oil reacts well to all types of Indian cooking, frying, roasting &amp; grilling
									etc. Solas Olive Pomace Oil is a healthy substitute for the oils mainly used presently by the 
									Indian consumer, i.e. sunflower, safflower, corn, soya, palm, etc. Its neutral flavour &amp; 
									high smoking point makes it ideal for Indian cooking. Though recommended to use completly it can 
									also be used in 1/3 rd the qty of other oils while cooking
									<br/><br/>
									Solas Olive pomace oil contains higest monosaturated good fats amongst edible oils &amp; very low 
									saturated bad fats which are associated with numerious health benefits.
									<br/><br/>
									Olive pomace oil is very similar to pure olive oil. When all the oil and water is extracted from 
									olives, there is still some oil residue left that can be extracted from olive pomace. Olive pomace 
									oil is good for high heat cooking
								</p>
							</div>

							<div class="col-xs-12 col-md-12 product">
								<h2>Pure Olive Oil</h2>
								<p>
									Olive oil is one of the most beneficial natural products and is known to have
									very high nutritive value since its discovery about 5,000 years ago. Olive oil 
									is extracted from the crop of the olive tree which is native to the Mediterranean 
									basin. Olive oil is closer in chemical structure to the skin’s natural oil than any 
									other naturally occurring oil.
									<br/><br/>	
									Uses of Olive oil are many and it is so versatile that it can be used both internally 
									and externally. Health benefits of olive oil range from promoting better digestion, 
									stimulating metabolism to lubricating mucous membranes and as olive oil is full of 
									vitamins, minerals and proteins, it can also be used to keep skin, nails, and hair 
									healthy and beautiful.
								</p>
							</div>

						</div>

						<div class="col-xs-12 col-md-4 banner_back">
								<div class="banner">
										<div class="flexslider">
											<ul class="slides">
												<li>
													<img src="/images/olive.jpg" />
													<div class="Conatiner">
									
													</div>
												</li>
												<li>
													<img src="/images/10.jpg" />
													<div class="Conatiner">
															
													</div>
												</li>
											</ul>
										</div>
									</div>
						</div>
					</div>
					
				</div>
			</div>
			<!--Content Area End-->

			<!--Footer Section Start-->
			<% include partials/footer %>			
			<!--Footer Section End-->
			<!-- <script src="/js/lightbox-plus-jquery.min.js"> </script> -->
		</div>
		<!--Page Wrapper End-->

		
	</body>
</html>