<!DOCTYPE html>
<html lang="en">
	<% include partials/head %>
	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">
			<% include partials/header %>
			<!-- banner -->
			<div class="banner">
				
			</div>
			<!--Content Area Start-->
			<div id="content">
				<section class="about_us">
					<div class="container">
						<h3>Private Label</h3>
						<div class="row">
							<div class="col-md-12 about-wpr">
								<span class="img-wpr"><img src="/images/about.jpg"/></span>
								<div style="float:right; width: 62%;">
									<p>
										INDIAGRO also has the ability to give a good service for the development and distribution of private labels <br/><b style="color: #81c04d">“Your Label Our Work” </b> 																	
									</p>
									
									<strong>What are the advantages of your own product line?</strong>
									<ul class="privatelist">
										<li>Substantially higher margins than brand name products</li>
										<li>Greater freedom with pricing strategy </li>
										<li>Freedom to create your own marketing plans</li>
										<li>You will increase your sales</li>
										<li>You have control over the stock inventory</li>									
										<li>
											Create a positive image of yourself for your customer which will lead to stronger customer loyalty
										</li>
										<li>
											Reduce dependence on brand names for sales
										</li>
										<li>
											Positions you better in a tight economy
										</li>
										<li>
											You will not walk into other stores and see the same products that you sell on a shelf with a retail price lower than what you pay your distributor
										</li>
										<li>
											After building customer loyalty for months, your customers won't turn around and order the same products from a large online store because they are only available from you!
										</li>
									</ul>
								</div>
								<div class="clearfix"></div>
								<strong>What is involved in creating a private label?</strong>
								<p>It is a very simple process…</p>
								<ol>
									<li>
										You contact us and tell us what products you want, the sizes and sales projections of how many units of each product you expect to sell in a year's time.
									</li>
									<li>
										You tell us where you need to be on pricing for this to work for you and we give you a quote.
									</li>
									<li>
										Either you design the label yourself or you can have our in-house creative services department design it for you. Once the label is agreed upon...
									</li>
									<li>
										Write a Purchase Order, we make it and ship it and you get to sell your own high margin brand of high quality product!
										Some of our private label clients have had product on their shelf in as little as two weeks time from the first contact!											
									</li>
									<li>
										We offer all products on this website for private labeling.
									</li>
								</ol>
								<p>
									We are happy to work with you to develop products and packaging to your specifications. We have a successful track record of custom manufacturing, especially in small quantities. Whatever you’d like to see, our team of food Technologists and packaging specialists can make it a reality.
								</p>
								<ol>
									<li>Olive oil</li>
									<li>Rice</li>
									<li>Indian Spices</li>
									<li>Honey</li>
									<li>TEA</li>
								</ol>
								<p>
									<b>Quality</b> is one of the fundamental pillars of the policy of INDIAGRO. 
									Each Production carries out strict quality controls in each process in order to obtain the best possible result.
									This is achieved through the control which is carried out by our professional’s team amongst who are engineers &amp; technologists.										
								</p>
								<strong>We provide Packaging in :</strong>
								<ol>
									<li>Glass Bottles</li>
									<li>Dorica Glass Bottles</li>
									<li>Tin Cans</li>
									<li>Paper Bags</li>
									<li>PP Bags</li>
									<li>PET bottles</li>
									<li>Tea Bags</li>
									<li>HDPE Bags</li>
									<li>LDPE bags</li>
									<li>Glass jars</li>
									<li>PET Jars</li>
									<li>Plastic Barrels</li>
									<li>Barrels</li>
									<li>Pouches – Pillow, flat bottom, sprouted, zipped and Standy</li>
									<li>Tetra Packs</li>
								</ol>
							</div>
						</div>
					</div>
				</section>
			</div>
			<!--Content Area End-->

			<!--Footer Section Start-->
			<% include partials/footer %>			
			<!--Footer Section End-->
		</div>
		<!--Page Wrapper End-->

		
	</body>
</html>