<!DOCTYPE html>
<html lang="en">
	<% include partials/head %>
	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">
			<% include partials/header %>
			<div class="banner about-banner">
				<div class="container">
					<h2>Our Gallery</h2>
					<div class="agileits-line"> </div>
				</div>
			</div>
			<!--Content Area Start-->
			<div id="content">
				<div class="container">
					<!-- gallery -->
					<div class="gallery">
						<div class="container">
							<div class="gallery-grids">
								<div class="col-md-4 gallery-grid">
									<div class="grid">
										<figure class="effect-roxy">
											<a class="example-image-link" href="images/g1.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
												<img src="images/g1.jpg" alt="" />
												<figcaption>
													<h3>Maecenas <span>lacus</span></h3>
													<p> Aenean fermentum nisl ac imperdiet commodo</p>
												</figcaption>	
											</a>
										</figure>
									</div>
								</div>
								<div class="col-md-4 gallery-grid">
									<div class="grid">
										<figure class="effect-roxy">
											<a class="example-image-link" href="images/g2.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
												<img src="images/g2.jpg" alt="" />
												<figcaption>
													<h3>Aliquam <span>porta</span></h3>
													<p>Aenean fermentum nisl ac imperdiet commodo</p>
												</figcaption>	
											</a>
										</figure>
									</div>
								</div>
								<div class="col-md-4 gallery-grid">
									<div class="grid">
										<figure class="effect-roxy">
											<a class="example-image-link" href="images/g3.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
												<img src="images/g3.jpg" alt="" />
												<figcaption>
													<h3>Proin <span>mattis</span></h3>
													<p>Aenean fermentum nisl ac imperdiet commodo</p>
												</figcaption>		
											</a>
										</figure>
									</div>
								</div>
											
								<div class="col-md-4 gallery-grid">
									<div class="grid">
										<figure class="effect-roxy">
											<a class="example-image-link" href="images/g4.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
												<img src="images/g4.jpg" alt="" />
												<figcaption>
													<h3>Duis <span>rhoncus</span></h3>
													<p>Aenean fermentum nisl ac imperdiet commodo</p>
												</figcaption>	
											</a>
										</figure>
									</div>
								</div>
								<div class="col-md-4 gallery-grid">
									<div class="grid">
										<figure class="effect-roxy">
											<a class="example-image-link" href="images/g5.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
												<img src="images/g5.jpg" alt="" />
												<figcaption>
													<h3>Curabitur <span>quam</span></h3>
													<p>Aenean fermentum nisl ac imperdiet commodo</p>
												</figcaption>	
											</a>
										</figure>
									</div>
								</div>
								<div class="col-md-4 gallery-grid">
									<div class="grid">
										<figure class="effect-roxy">
											<a class="example-image-link" href="images/g6.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
												<img src="images/g6.jpg" alt="" />
												<figcaption>
													<h3>Maecenas <span>lacus</span></h3>
													<p>Aenean fermentum nisl ac imperdiet commodo</p>
												</figcaption>		
											</a>
										</figure>
									</div>
								</div>
								
								<div class="col-md-4 gallery-grid">
									<div class="grid">
										<figure class="effect-roxy">
											<a class="example-image-link" href="images/g7.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
												<img src="images/g7.jpg" alt="" />
												<figcaption>
													<h3>Maecenas <span>lacus</span></h3>
													<p> Aenean fermentum nisl ac imperdiet commodo</p>
												</figcaption>	
											</a>
										</figure>
									</div>
								</div>
								<div class="col-md-4 gallery-grid">
									<div class="grid">
										<figure class="effect-roxy">
											<a class="example-image-link" href="images/g1.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
												<img src="images/g1.jpg" alt="" />
												<figcaption>
													<h3>Aliquam <span>porta</span></h3>
													<p>Aenean fermentum nisl ac imperdiet commodo</p>
												</figcaption>	
											</a>
										</figure>
									</div>
								</div>
								<div class="col-md-4 gallery-grid">
									<div class="grid">
										<figure class="effect-roxy">
											<a class="example-image-link" href="images/g2.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
												<img src="images/g2.jpg" alt="" />
												<figcaption>
													<h3>Proin <span>mattis</span></h3>
													<p>Aenean fermentum nisl ac imperdiet commodo</p>
												</figcaption>		
											</a>
										</figure>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<!-- //gallery -->
				</div>
			</div>
			<!--Content Area End-->

			<!--Footer Section Start-->
			<% include partials/footer %>			
			<!--Footer Section End-->
			<script src="/js/lightbox-plus-jquery.min.js"> </script>
		</div>
		<!--Page Wrapper End-->

		
	</body>
</html>