<!DOCTYPE html>
<html lang="en">
	<% include partials/head %>
	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">
			<% include partials/header %>
			<!-- banner -->
			<div class="banner">
				<h1>Thank You</h1>
			</div>
			
			<!--Footer Section Start-->
			<% include partials/footer %>			
			<!--Footer Section End-->
		</div>
		<!--Page Wrapper End-->

		
	</body>
</html>