        <%@include file="includes/header.jsp" %>
            <!-- Page Content Holder -->
            <div id="content">
                <h2>Welcome to CMS Admin</h2>                
                <div class="line"></div>
                <section class="content">
                    <div class="nav-tabs-custom">
                        <div class="tab-content" id="tab_content">
                            <div class="tab-pane active" id="content_dashboard">
                                <!-- Small boxes (Stat box) -->
                                <div class="row" id="showajaxdashboard">
                                    <div class="col-lg-4 col-xs-6">
                                        <!-- small box -->
                                        <div class="small-box bg-aqua">
                                            <div class="inner" style="height:100px;">
                                                <h3 style="font-size:20px; margin-top:30px;">
                                                    Latest News
                                                </h3>
                                            </div>
                                            <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col-lg-4 col-xs-6">
                                        <!-- small box -->
                                        <div class="small-box bg-red">
                                            <div class="inner" style="height:100px;">
                                                <h3 style="font-size:20px; margin-top:30px;">
                                                    Information
                                                </h3>
                                            </div>
                                            <div class="icon"><i class="fa fa-building"></i></div>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                    <div class="col-lg-4 col-xs-6">
                                        <!-- small box -->
                                        <div class="small-box bg-green">
                                            <div class="inner" style="height:100px;">
                                                <h3 style="font-size:20px; margin-top:30px;">
                                                    Important Links
                                                </h3>
                                            </div>
                                            <div class="icon"><i class="fa fa-paperclip"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                    </div>
                </section>
           </div>
        <%@include file="includes/footer.jsp" %>